### CSI4124 A1 EDA


**Student Name: Yu-Chen Lee Student ID: 300240688**

**Student Name: Kevin Yu Student ID:**

## 1. Loading dataset 1 and dataset 2

In [ ]:
import pandas as pd

In [ ]:
dataset1_url = 
dataset2_url =